<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmithIT Forum</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body id="indexBod">
    <div class="container forum-container">
        <div class="forum-header">
            <h1>Smithit Forum</h1>
        </div>
    </div>

    <span class="Talkie-Place-one">
        <a href="/talk1">
            <h1>Talkie place One</h1>
        </a>
        <a href="talkTuah">
            <h1>TALK TUAH!</h1>
        </a>
        <a href="Help">
            <h1>Help Form</h1>
        </a>
    </span>

</body>

</html>